/* Haekal, Dhika */
body {
    background-color:rgb(255, 255, 255);
    margin:0px;
  }

.logo{
    justify-content: center;
    display: grid;  
}

.pojok{
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(231, 191, 172);
    font-family: Poppins;
  }

li {
    float: left;
}

p{
    font-family: Poppins;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(223, 166, 140);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    text-align: center;
    max-width: 100%;
    height: auto;
}

/* fariz */

section {
    width: 80%;
    margin: 60px auto;
}
section h1{
  padding: 10px;
  text-shadow: 3px 2px 1px grey;
  font-size: 40px
}
.title {
    text-align: center;
    font-size: 2vmin;
    font-family: Poppins;
}
.card h3 {
  font-family: bebaskai;
  font-size: px;
}
.card p {
  font-family: f25 bank printer;
}
.about {
  width: 100%;
  padding: 100px 0px;
}
.about img {
  height: auto;
  width: 400px;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  height: 200px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 30px;
}
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
.row {
    margin: 0 -5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 991.98px) {
    .adjuster {
        width: 90%;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(231, 191, 172);
    border-radius: 10px;
}


* {box-sizing:border-box}

/* Haekal */

.slideshow-container {
  max-width: 1920px;
  position: relative;
  margin: auto;
}
.Containers {
  display: none;
}
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
a.button:hover {
    background: rgb(214, 136, 99);
    text-decoration: none;
}
a.button-primari:hover {
    background: rgb(214, 136, 99);
    text-decoration: none;
}
.enable, .dots:hover {
  background-color: #716170;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}
@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

/* Nada */

.button { 
    background-color: rgb(224, 171, 146);
    border: none; 
    color: white; 
    padding: 9px 15px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px; 
    border-radius: 8px;
   } 
.container-button {  
    max-width: 1920px;
    padding-top: 30px;
    display: grid;  
    }  
.button-primari {
    padding: 9px 15px; 
    background-color: rgb(231, 191, 172);
    color: white; 
    border-radius: 8px;
    font-size: 15px;  
    margin: auto;  
    } 
   
.footer {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.imgFuter{
    display: inline-block;
    margin: 25px 10px;
}
.pageDown {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: rgb(231, 191, 172);
}

.futer {
    width: 20%;
    margin: 0 auto;
}

.warna{
    background-color: #717161;
}

  